body {
    padding: 0;
    margin: 0
}
#unity-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
#unity-canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* 這是限制網頁開啟後整個應用程式的最大寬度，
    因為多為製作手機板型，避免使用電腦開啟後呈現滿版難以閱讀而設置的 */
    max-width: 780px;
    height: 100%;
    
    background: url('bg.png') no-repeat;
    background-size: 100% 100%;
}
#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}
#unity-logo {
    width: 296px;
    height: 139px;
    background: url('Logo.png') no-repeat center;
    background-size: 100% 100%;
}
#unity-progress-bar-empty {
    margin-left: auto;
    margin-right: auto;
    width: 274px;
    height: 26px;
    margin-top: 25px;
    background: url('ProgressBar_Empty.png') no-repeat center;
    background-size: 100% 100%;
}
#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}
#unity-progress-bar-full {
    width: 0%;
    height: 26px;
    margin-top: 25px;
    background: url('ProgressBar_Fill.png') no-repeat center;
    background-size: 100% 100%;
}
#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}
